/* Seletor universal */
*{
    /* Zera a margem do documento */
    margin: 0;
    /* Espaçamento interno */
    padding: 0;
}

/* Seletor de tipo, aplica o css */
h5{
    /* O atributo !important prioriza o elemento e relação a outro */
    color: blueviolet;
}

/* Seletor de classe */
.titulo{
    background-color: brown;
    color: aliceblue;
    /* Aplica margem em todas laterais */
    /* margin: 10px; */
    /* margin-left: 20px; */
    /* Aplico o espaçamento no superior e inferior */
    /* e aplico o espacamento nas laterais esquerda e direita */
    /* margin: 20px 0; */
    margin: 0 10px 0 0;
    /* Aplicando espacamento interno */
    /* padding: 10px; */
    padding: 0 10px 0 0;
}

p{
    background-color: rgb(0, 136, 255);
}
.imagem{
    /* Aplicando tamanho em largura */
    width: 500px;
    /* Aplicando tamanho em altura*/
    height: 500px;
}

.formulario{
    background-color: darkgrey;
        border-radius:2px;
        width: 400px;
        margin: 0 auto;
        text-align: center;
}
.input-nome{
    /* Remover as bordas */
    border: none;
    /* Aplica curvatura nas bordas  */
    border-radius:2px;
    margin-left: 10px;
    /* Definir opacidade no campo texto */
    opacity: 70%;

}
.botao{
    background-color: rgb(181, 181, 181);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    /* Aplicando sobra no texto posicao x, y blur */
    text-shadow: 5px 2px 5px rgba(212, 14, 57, 0.9);
    margin: 0 auto;
}

.checar{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /* Modifique o tipo do cursos */
    cursor: pointer;
    /* Limpar configurações aparencia */
    appearance: none;
    background-color: #fff;
    border: 2px dashed #9000c9;
    border-radius: 5px;
}
.checar:checked{
    background-color: #9000c9;
}

.email{
    width: 300px;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid #fff;
}

.selecao{
    appearance: none;
    width: 300px;
    padding: 4px;
    font-size: 16px;
    color: #4a3f3f;
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* Sombra no input */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.radio{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #c90000;
    border-radius: 50%;
}

/* Pseudoclasse quando se */
.radio:checked{

    background-color: #c90000;
        border-color: #d400ff;
}