*{
    margin: 0;
    padding: 0;
}
.titulo{
    background-color: whitesmoke;
    color: darkgreen;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.input-nome{
    border: none;
    border-radius: 2px;
    padding: 4px;
    opacity: 70%;
    margin-top: 8px;
}
.botao{
    background-color: rgb(181, 181, 181);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0 auto;
}
.login{
    background-color: darkgrey;
    color: white;
    font-size: 22px;
    border-radius:10px;
    width: 400px;
    margin: 200px auto;
    padding: 15px;
}
.cadastro{
        background-color: darkgrey;
        font-size: 35px;
    color: rgb(255, 255, 255);
        border-radius:10px;
        width: 400px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
}
.produtos{
            background-color: darkgrey;
        font-size: 35px;
    color: rgb(255, 255, 255);
        border-radius:10px;
        width: 400px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
}
.imagem{
    width: 1521px;
    height: 642px;
}
.bota{
    background-color: rgb(181, 181, 181);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 10px 5px 0 0;
}
label{
    display: inline-block;
    width: 150px;
    margin-top: 8px;
}
.cadastrar{
    background-color: rgb(172, 221, 167);
    color: white;
    font-size: 22px;
    border-radius:10px;
    width: 400px;
    margin: 200px auto;
    padding: 15px;
    border: 2px rgb(0, 0, 0);
    border-color: black;
}
.email{
    border-radius: 2px;
    padding: 4px;
    opacity: 70%;
    margin-top: 8px;
    padding: 5px;
    border: 2px solid #fff;
}
.cancelar {
    background-color: #b33;   /* vermelho suave */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 5px 0 0;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.cancelar:hover {
    background-color: #922;   /* efeito hover */
}

.cadastrar-botao {
    background-color: darkgreen;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0 0 0;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.cadastrar-botao:hover {
    background-color: green;
}
.cads{
 color: black;
 padding: 10px;
 margin: auto auto auto auto;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: larger;
}